/* Pre styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    /* outline: 1px solid limegreen;
    background: rgba(0, 100, 0, 0.05); */
}
.round-btn{
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 41px;
    color: #FFFFFF;
    background-color: #E02C6D;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
}
.box-btn{
    padding: 10px 25px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #E02C6D;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
}
.round-btn:hover, .box-btn:hover{
    color: #E02C6D;

    border: 1px solid #E02C6D;
    background-color: #FFFFFF;
}


    /* Header nav styles */
#header{
    max-width: 1020px;
    margin: 0 auto;
}
#header .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
}
#header .nav .nav-logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
#header .nav .menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
#header .nav .menu li, li img{
    list-style-type: none;
    cursor: pointer;
}
#header .nav .menu li a{
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.4s ease;

    font-weight: 600;
    color: #3A3A3A;
}
#header .nav .menu li a:hover{
    border-top: 2px solid #8d8d8f9a;
    border-bottom: 2px solid #565657a9;
}
    /* Header banner styles */
#header .header-banner{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 10px 0px;
    padding: 0 10px;
}
#header .banner-contents .banner-tittle{
    font-size: 42px;
    font-weight: 700;
    color: #3A3A3A;
}
#header .banner-contents .banner-desc{
    font-weight: 600;
    line-height: 24px;
    color: #3A3A3A;
    margin: 15px 0;
}
#header .header-banner .banner-img img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 0px;
}


        /* Main part styles */
    /* shops styles */
#main{
    max-width: 1020px;
    margin: 0 auto;
}
#main .shops{
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 80px 0px;
    padding: 20px 10px;
    border-top: 2px solid #d1cece6c;
    border-bottom: 2px solid #d1cece6c;
}

    /* Popular collections */
#main .collections{
    margin-bottom: 100px;
    padding: 0px 10px;
}
#main .collections .collections-tittle{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #3A3A3A;
}
#main .collections .collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
#main .collections .collection-container .collection{
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
}
#main .collections .collection-container .collection img{
    width: 100%;
}
#main .collections .collection .collection-tittle{
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}
#main .collections .collection .collection-price{
    font-size: 25px;
    font-weight: 400;
    color: #000000be;
}
#main .collections .collection .rating{
    display: flex;
    align-items: center;
    gap: 10px;
}
#main .collections .collection .additional{
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #787885;
}
#main .collections .more-collection, a{
    margin-top: 30px;
    padding: 5px;
    text-align: right;
    text-decoration: none;
    color: #E02C6D;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}
#main .collections a:hover{
    border-bottom: 2px solid #E02C6D;
}

    /* Featured products section */
#main .featured{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 0rem 0.75rem;
    margin-bottom: 6.25rem;
}
#main .featured .featured-img{
    width: 100%;
}
#main .featured .featured-contents .featured-tittle{
    font-size: 2.25rem;
    font-weight: 700;
    color: #0A0826;
}
#main .featured .featured-contents .featured-desc{
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    color: #6C6C6C;
    margin: 1rem 0rem;
}


    /* Footer part */
#footer{
    background-color: #0A0826;
}
#footer .footer-contents{
    width: 30%;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;
}
#footer .footer-contents .footer-tittle{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}
#footer .footer-contents .copyright{
    font-size: 0.8rem;
    font-weight: 500;
    color: #D9DBE1;
    margin-top: 0.75rem;
}
#footer .footer-contents .social-links{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: center;
    margin-top: 1rem;
}
#footer .footer-contents .social-links li{
    list-style-type: none;
}


                    /* Responsive design */
/* For small mobiles */
@media screen and (max-width: 320px) {
            /* header nav styles */
    #header .nav{
        flex-direction: column;
    }
    #header .nav .menu{
        margin-top: 20px;
        flex-wrap: wrap;
    }

            /* Header banner styles */
    #header .header-banner{
        flex-direction: column;
        gap: 30px;
    }
    #header .banner-contents .banner-tittle{
        font-size: 30px;
    }
    #header .header-banner .banner-img img{
        width: 100%;
    }

            /* shops styles */
    #main .shops{
        flex-wrap: wrap;
        gap: 25px;
    }

            /* Popular collections */
    #main .collections .collection-container {
        grid-template-columns: repeat(1, 1fr);
    }

            /* Featured products */
    #main .featured{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    #main .featured .featured-contents .featured-tittle{
        font-size: 1.75rem;
    }
    #main .featured .featured-img img{
        width: 100%;
    }
}
/* For medium mobiles */
@media screen and (min-width: 321px) and (max-width: 375px) {
            /* header nav styles */
    #header .nav{
        flex-direction: column;
    }
    #header .nav .menu{
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

            /* Header banner styles */
    #header .header-banner{
        flex-direction: column;
        gap: 30px;
    }
    #header .banner-contents .banner-tittle{
        font-size: 30px;
    }
    #header .header-banner .banner-img img{
        width: 100%;
    }
    
            /* shops styles */
    #main .shops{
        flex-wrap: wrap;
        gap: 25px;
    }
    
            /* Popular collections */
    #main .collections .collection-container {
        grid-template-columns: repeat(1, 1fr);
    }

    
            /* Featured products */
    #main .featured{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    #main .featured .featured-contents .featured-tittle{
        font-size: 1.75rem;
    }
    #main .featured .featured-img img{
        width: 100%;
    }
}
/* For large mobiles */
@media screen and (min-width: 376px) and (max-width: 425px) {
            /* header nav styles */
    #header .nav{
        flex-direction: column;
    }
    #header .nav .menu{
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

            /* Header banner styles */
    #header .header-banner{
        flex-direction: column;
        gap: 30px;
    }
    #header .banner-contents .banner-tittle{
        font-size: 30px;
    }
    #header .header-banner .banner-img{
        text-align: center;
    }
    #header .header-banner .banner-img img{
        width: 80%;
    }

            /* shops styles */
    #main .shops{
        flex-wrap: wrap;
        gap: 25px;
    }

            /* Popular collections */
    #main .collections .collection-container {
        grid-template-columns: repeat(1, 1fr);
    }

    
            /* Featured products */
    #main .featured{
        flex-direction: column-reverse;
        gap: 1rem;
    }
    #main .featured .featured-contents .featured-tittle{
        font-size: 1.75rem;
    }
    #main .featured .featured-img img{
        width: 100%;
    }
}