/* Pre styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    /* outline: 1px solid limegreen;
    background: rgba(0, 100, 0, 0.05); */
}
.round-btn{
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 41px;
    color: #FFFFFF;
    background-color: #E02C6D;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
}
.box-btn{
    padding: 10px 25px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #E02C6D;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;
}
.round-btn:hover, .box-btn:hover{
    color: #E02C6D;

    border: 1px solid #E02C6D;
    background-color: #FFFFFF;
}


    /* Header nav styles */
#header{
    max-width: 1020px;
    margin: 0 auto;
}
#header .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
}
#header .nav .nav-logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: #3A3A3A;
}
#header .nav .menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
#header .nav .menu li, li img{
    list-style-type: none;
    cursor: pointer;
}
#header .nav .menu li a{
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: all 0.4s ease;

    font-weight: 600;
    color: #3A3A3A;
}
#header .nav .menu li a:hover{
    border-top: 2px solid #8d8d8f9a;
    border-bottom: 2px solid #565657a9;
}

    /* Header banner styles */
#header .header-banner{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 10px 0 100px 0;
}
#header .banner-contents .banner-tittle{
    font-size: 42px;
    font-weight: 700;
    color: #3A3A3A;
}
#header .banner-contents .banner-desc{
    font-weight: 600;
    line-height: 24px;
    color: #3A3A3A;
    margin: 15px 0;
}
#header .header-banner .banner-img{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 0px;
}


                    /* Responsive design */
/* For small mobiles */
@media screen and (max-width: 320px) {
            /* header nav styles */
    #header .nav{
        flex-direction: column;
    }
    #header .nav .menu{
        margin-top: 20px;
        flex-wrap: wrap;
    }
}
/* For medium mobiles */
@media screen and (min-width: 321px) and (max-width: 375px) {
            /* header nav styles */
    #header .nav{
        flex-direction: column;
    }
    #header .nav .menu{
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}
/* For large mobiles */
@media screen and (min-width: 376px) and (max-width: 425px) {
            /* header nav styles */
    #header .nav{
        flex-direction: column;
    }
    #header .nav .menu{
        margin-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}